html{
  overflow-y: visible;
  overflow-x: hidden;
}
body{
padding: 0;
margin: 0;
}
h2{
  font-size: 0.75em;
}
h3{
  font-weight: bolder;
}
h3 a, h5 a{
  text-decoration: none;
}
h1 a{
  text-decoration: none;
  color: rgb(255, 68, 34);
}
.orange-on-hover{
  color: black;
}
.orange-on-hover:hover{
  color: rgb(255, 68, 34);
}
h1 .black-on-hover{
  color: rgb(255, 68, 34);
}
.black-on-hover:hover{
  color: black;
}
.ul-on-hover:hover{
  text-decoration: underline;
}
.fl-left{
  float: left;
}
.fl-right{
  float: right;
}
.bg-blue{
  background-color: blue;
}
.mobile-nav-1{
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.mobile-nav-1 figure{
  background-color: red;
  height: 50px;
  width: 100px;
  margin: 0;
}
.mobile-nav-1 figure img{
  display: block;
  height: 50px;
  width: 70%;
  line-height: 50px;
  margin: 0 auto;
}
.cl-both{
  content: '';
  clear: both;
  display: table;
}
#toggle{
  display: none;
}
.mobile-nav-1 label{
  transition: transform 0.4s ease-out;
  color: red;
  cursor: pointer;
}
.mobile-nav-1 a, .mobile-nav-1 label{
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  font-size: 2em;
}
.mobile-nav-1 a{
  display: inline-block;
  height: 50px;
  color: grey;
  color: rgba(0, 0, 0, 0.2);
  border-left: 1px solid grey;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid grey;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
}

.mobile-nav-1 a:hover{
  color: black;
  opacity: 0.5
}

.mobile-nav-2{
  background: linear-gradient(to right bottom, rgb(204, 0, 153), rgb(255, 68, 34) 85%);
  z-index: 2;
  position: absolute;
  top: 0;
  right: -2000px;
  width: 100%;
}
#toggle:checked ~ header .mobile-nav-2{
  right: 0px;
  transition: right 0.4s ease-out;
}
#toggle:checked ~ header .close label i{
  transform: rotate(360deg);
}
#toggle:checked ~ #main, #toggle:checked ~ footer{
  display: none;
}
#toggle:checked ~ header .mobile-nav-1 label{
  transform: rotate(360deg);
}
header{
  position: relative;
}
.close{
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-icons ul li{
  display: inline-block;
  padding-left: 10px;
}
.close label{
  cursor: pointer;
}
.close label i{
  color: #fff;
  line-height: 10vh;
  margin-right: 10px;
  transition: transform 0.4s ease-out 0.4s;
}
.mobile-nav-scroll{
  overflow-y: scroll;
  height: 90vh;
  width: 100%;
}
.mobile-nav-2 .nav-icons{
  height: 10vh;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.mobile-nav-2 .nav-icons ul {
  padding: 0;
  margin: 0;
  height: 10vh;
  text-align: center;
}
.mobile-nav-2 .nav-icons ul li{
  height: 10vh;
  line-height: 10vh;
  width: 5%;
}
.mobile-nav-2 .nav-icons ul li a {
  color: white;
}
.mobile-sub-nav{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: flex-end;
}
.mobile-sub-items{
  width: 44%;
  margin-left: 6%;
  color: white;
}
.mobile-sub-items ul{
  list-style: none;
  padding: 0;
}
.mobile-sub-items ul li a{
  text-decoration: none;
  color: white;
  opacity: 0.7;
  font-size: 0.8em;
}
.caption{
  background-color: rgb(255, 221, 51);
  font-size: 0.75em;
  padding: 8px 0;
  text-align: center;
  margin-bottom: 2px;
}
.article{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7))no-repeat,
              url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/05/DEll-796x417.png") no-repeat;
  background-size: cover;
  color: #fff;
  padding: 80px 0 20px 15px;
  margin-bottom: 10px;
}
.articles-wrapper{
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 0 auto;
}
.article a{
  color: #fff;
}
.no-mg{
  margin: 0;
}
.article .sm-mg{
  margin-bottom: 5px;
}
.article .author p{
  margin: 5px 0 0 0 ;
  font-size: 0.85em;
  opacity: 0.6;
}
.article .author p i{
  padding: 0 3px 0 6px;
}
.latest-news-wrapper, .latest-deals-wrapper{
  width: 90%;
  margin: 0 auto 30px auto;
  /* display: flex;
  flex-direction: column; */
}
.latest-news-wrapper .latest-posts{
  width: 100%;
}
.latest-news-wrapper .latest-news section, .latest-deals-wrapper .latest-deals section{
  float: left;
  width: 80%;
  margin-left: 2%;
}
.latest-news-wrapper .latest-news section p, .latest-deals-wrapper .latest-deals section p{
  font-size: 0.7em;
  color: #000;
  color: rgba(0, 0, 0, 0.4);
}
.latest-news section p a{
  text-decoration: none;
  color: inherit;
}
.latest-news section p a:hover{
  color: rgba(0, 0, 0, 0.7);
}
.latest-news-wrapper .latest-news::after, .latest-deals-wrapper .latest-deals::after{
  clear: both;
  display: table;
  content: '';
}
.latest-news-wrapper .latest-news figure, .latest-deals-wrapper .latest-deals figure{
  width: 18%;
  height: 80px;
  margin: 0;
  float: left;
}
.latest-news, .latest-deals{
  margin-bottom: 12px;
}
figure img{
  width: 100%;
  height: 100%;
}
.latest-funding-wrapper{
  width: 90%;
  margin: 0 auto;
}
.latest-funding-wrapper ul{
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.latest-funding-wrapper ul li a{
  text-decoration: none;
  color: rgb(255, 68, 34);
}
.latest-funding-wrapper ul li{
  margin-bottom: 10px;
}
 section.latest-funding > h3{
  background-color:rgb(255, 68, 34);
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin: 0;
}
section.latest-funding > h3 a{
  height: 40px;
  line-height: 40px;
  color: #fff;
  margin-left: 80px;
}
.latest-funding div:first-of-type{
  background-color: #fff;
  background-color: rgba(255, 68, 34, 0.2);
  width: 100%;
  height: 60px;
}
.latest-funding div:first-of-type a{
  display: block;
  height: 60px;
  width: 80%;
  margin-left: 80px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.latest-funding div:first-of-type a p{
  padding-top: 11px;
}
.latest-funding div:first-of-type a p span{
  display: block;
  font-size: 0.72em;
  font-weight: lighter;
  opacity: 0.7;
}
.latest-funding{
  position: relative;
}
.latest-funding figure{
  position: absolute;
  margin: 0;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
}
.latest-funding div:nth-of-type(2) {
  padding: 12px 0 8px 10px;
  border-bottom: 1px solid rgba(255, 68, 34);
  border-bottom: 1px solid rgba(255, 68, 34, 0.2);
  background-color: #fff;
  background-color: rgba(255, 68, 34, 0.03);
}
.latest-funding div:nth-of-type(n+2) a {
  text-decoration: none;
  color: black;
  color: rgba(0, 0, 0, 0.83);
}
.latest-funding div:nth-of-type(2) a:hover, .latest-funding div:nth-of-type(2) a i{
  color: #000;
}
.latest-funding div:nth-of-type(2) a i{
  padding-right: 5px;
}
.latest-funding div:nth-of-type(2) a:not(i){
  font-size: 0.9em;
}
.latest-funding div:nth-of-type(2) p:last-of-type{
  margin-top: 10px;;
}
.latest-funding div:last-of-type{
  min-height: 60px;
  background-color: #fff;
  background-color: rgba(255, 68, 34, 0.03);
  padding: 10px 0 0 12px;
}
.latest-funding div:last-of-type p a{
  font-size: 0.7em;
}
.fainter{
  opacity: 0.5;
}
.extras-wrapper{
  width: 90%;
  margin: 0 auto;
}
.latest div:first-of-type{
  width: calc(100% - 100px);
  height: 80px;
  color: rgb(255, 68, 34);
  padding: 10px 0 0 10px;
  float: left;
  background-color: #fff;
  background-color: rgba(255, 68, 34, 0.03);
}
.latest div:first-of-type p{
  margin: 5px 0 0 0;
  font-weight: bold;
  font-size: 0.9em;
}
.latest div:first-of-type p a{
  text-decoration: none;
  color: rgb(255, 68, 34);
}
.latest div:first-of-type p a:hover{
  border-bottom: 1px solid rgba(255, 68, 34, 0.3);
}
.latest div:last-of-type{
  width: 90px;
  height: 80px;
  float: left;
}

.latest div:last-of-type figure{
  width: 100%;
  height: 100%;
  margin: 0;
}

.latest::after{
  display: table;
  clear: left;
  content: '';
}

.extras-wrapper .article{
  margin-bottom: 2px;
}

.list{
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px 0;
}
.list p a{
  color: black;
  text-decoration: none;
  opacity: 0.7;
  font-size: 0.7em;
}
.list p:first-child{
  width: 4%;
  float: left;
  margin: 0;
  color: rgba(255, 68, 34);
}
.list p:last-child{
  width: 90%;
  float: left;
  margin: 0;
}
.list a:hover{
  opacity: 1;
}
.list::after{
  display: table;
  content: '';
  clear: both;
}
