html{
  overflow: hidden;
}
body{
  padding: 0;
  margin: 0;
}
h2{
  font-size: 0.75em;
}
.fl-left{
  float: left;
}
.fl-right{
  float: right;
}
.bg-blue{
  background-color: blue;
}
.mobile-nav-1{
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.mobile-nav-1 figure{
  background-color: red;
  height: 50px;
  width: 100px;
  margin: 0;
}
.mobile-nav-1 figure img{
  display: block;
  height: 50px;
  width: 70%;
  line-height: 50px;
  margin: 0 auto;
}
.cl-both{
  content: '';
  clear: both;
  display: table;
}
#toggle{
  display: none;
}
.mobile-nav-1 label{
  color: red;
  cursor: pointer;
}
.mobile-nav-1 a, .mobile-nav-1 label{
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  font-size: 2em;
}
.mobile-nav-1 a{
  display: inline-block;
  height: 50px;
  color: grey;
  color: rgba(0, 0, 0, 0.2);
  border-left: 1px solid grey;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid grey;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
}

.mobile-nav-1 a:hover{
  color: black;
  opacity: 0.5
}

.mobile-nav-2{
  background-color: orange;
  z-index: 2;
  position: absolute;
  top: 0;
  right: -2000px;
  width: 100%;

}
#toggle:checked ~ header .mobile-nav-2{
  right: 0px;
  transition: right 0.2s ease-out;
}
#toggle:checked ~ header .close label i{
  transform: rotate(360deg);
}
#toggle:checked ~ #main, footer{
  display: none;
}
header{
  position: relative;
}
.close{
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-icons ul li{
  display: inline-block;
  padding-left: 10px;
}
.close label{
  cursor: pointer;
}
.close label i{
  color: #fff;
  line-height: 10vh;
  margin-right: 10px;
  transition: transform 0.4s ease-out;
}
.mobile-nav-scroll{
  overflow: scroll;
  height: 90vh;
  width: 100%;
}
.mobile-nav-2 .nav-icons{
  height: 10vh;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.mobile-nav-2 .nav-icons ul {
  padding: 0;
  margin: 0;
  height: 10vh;
  text-align: center;
}
.mobile-nav-2 .nav-icons ul li{
  height: 10vh;
  line-height: 10vh;
  width: 5%;
}
.mobile-nav-2 .nav-icons ul li a {
  color: white;
}
.mobile-sub-nav{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: flex-end;
}
.mobile-sub-items{
  width: 44%;
  margin-left: 6%;
  color: white;
}
.mobile-sub-items ul{
  list-style: none;
  padding: 0;
}
.mobile-sub-items ul li a{
  text-decoration: none;
  color: white;
  opacity: 0.7;
  font-size: 0.8em;
}
